<div class="bg-gray-800 text-white flex items-center w-full justify-center"
style="
background-image: url('textiles-seda-vibrantes-monton-colorido-generado-ia_188544-38313.avif');
background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el div */
background-position: center; /* Centra la imagen */
background-repeat: no-repeat; /* Evita que la imagen se repita */
height: 600px;
">

  <div class="text-center">
    <h1 class="text-4xl  font-bold mb-2">Bienvenidos a nuestra tienda de telas</h1>
    <p class="text-xl mb-4">Ofrecemos las telas de mejor calidad. Lleva la tuya ya.</p>

    <button  (click)="cards()" class="btn btn-primary">Descubre nuestras telas</button>

    <button   (click)="ropas()"class="btn btn-primary ml-4">Ver nuestras ropas</button>
  </div>
</div>

<style>


</style>
