<nav class="bg-gray-900 p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white text-lg font-bold">
      El Telar
    </div>
    <div class="flex space-x-4">
      <a href="/home" class="text-[#4db8ff] hover:text-[#80ccff] px-3 py-2 rounded-md text-sm font-medium">Home</a>
      <a href="/home/telas" class="text-[#4db8ff] hover:text-[#80ccff] px-3 py-2 rounded-md text-sm font-medium">Telas</a>
      <a href="/home/products" class="text-[#4db8ff] hover:text-[#80ccff] px-3 py-2 rounded-md text-sm font-medium">Ropas</a>
      <a href="/home/about" class="text-[#4db8ff] hover:text-[#80ccff] px-3 py-2 rounded-md text-sm font-medium">About</a>
      <a href="/home/contact" class="text-[#4db8ff] hover:text-[#80ccff] px-3 py-2 rounded-md text-sm font-medium">Contact</a>

    </div>
  </div>
</nav>
